img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  width: 100%;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

.bg-glass {
  backdrop-filter: blur(10px);
}

//card

.card-img-top img {
  height: 35vh;
  width: 100%;
  object-fit: contain;
}

.card--hover a {
  transform: scale(1);
  transition: ease-out;
  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.02);
    transition: ease-out;
    transition-duration: 0.2s;
    box-shadow: $box-shadow;
  }
}