.slide {
  height: 100vh;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.slogan {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;

  height: 70vh;
  width: 100%;
}

.importantInfo {
  background-image: url(../img/importantInfo.jpg);
  background-size: cover;
  background-position: center;

  height: 70vh;
  width: 100%;
}
