@mixin hideText($width, $height, $imgUrl, $imgUrl2x) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-image: image-set(
    url($imgUrl) 1x,
    url($imgUrl2x) 2x
  );
  width: $width;
  height: $height;
}

